body{
    color: black;
  background: repeating-linear-gradient(
    to right,
    #fefae0,
    #fefae0 20px,
    #dda15e 20px,
    #dda15e 40px
  );
  margin: 0;
  width: 100vw;
  height: 100vh;
}


.header{
    display: flex;
    color: #dda15e;
    background-color: #fefae0;
    height: 350px;
    align-items: center;
    margin-bottom: 10px;
    border: 5px solid #dda15e;
    text-align: center;
}
@font-face {
    font-family: headerFont;
    src: url(Righteous-Regular.ttf);
}

.header h1{
    font-size: 70px;
    font-family: headerFont;
}
.outterBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
}
.buttonFlex{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: headerFont;
}

.buttonFlex button, a{
    text-decoration: none;
    background-color: #fefae0;
    color: #dda15e;
    padding: 40px;
    border: 5px solid #dda15e;
    font-size: 30px;
}

.buttonFlex button:hover, a:hover{
    background-color: #dda15e;
    color: #fefae0;
    border-color: black;
    transition: 0.3s;
}

.buttonFlex button:active{
    background-color: #fefae0;
    color: #dda15e;
}

#form, #viewCustomer{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    border: 5px solid black;
    z-index: 2;
    text-align: center;
    background-color: #dda15e;
    font-family: headerFont;
    font-size: 30px;
}

#form li, #viewCustomer li{
    list-style-type: none;
}
#form input[type=text], #form input[type=password], #form input[type=email], #form select{
    width: 90%;
    padding: 10px;
    border: none;
    background: #fefae0;
    font-size: 15px;
    font-family: headerFont;
}
#form select{
    margin-bottom: 10px;
}
#form input[type=submit], #form button, #viewCustomer button{
    text-decoration: none;
    background-color: #fefae0;
    color: #dda15e;
    padding: 10px;
    border: none;
    font-size: 20px;
}
#form input[type=submit]:hover, #form button:hover, #viewCustomer button:hover{
    background-color: #dda15e;
    color: #fefae0;
    border: 3px solid black;
}
#form input[type=submit]:active, #form button:active, #viewCustomer button:active{
    background-color: #fefae0;
    color: #dda15e;
    border: 3px solid #dda15e;
}
#viewCustomer{
    display: none;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally within the container */
    text-align: left;
    padding: 20px;
}

#viewCustomer table{
    background-color: white;
    border-spacing: 5px;
}
#viewCustomer table tr, #viewCustomer table td, #viewCustomer table th{
    padding: 10px;
}
